.container{
    display: flex;
    justify-content: center;
    padding: 80px;
    -webkit-transform: translate(20px, -10px);
    -ms-transform: translate(10px, -10px);
    transform: translate(10px, -10px);
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  }
.container:hover {
    -webkit-transform: translate(20px, -10px);
    -ms-transform: translate(10px, -10px);
    transform: translate(10px, -10px);
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.img.img-card-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.card{
    padding: 10px;
    
}
.card:hover{
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}